
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #f6f6f6;
}
p {
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/**/
h1 {
  text-align: left;
}

.weather-forecast-block {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 991px;
  margin: 0 auto;
}
.weather-forecast-block .thumbs-block {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1;
}

.weather-forecast-block-item-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}
.weather-forecast-block-item-wrap .date-info-block {
  height: 65px;
  margin-bottom: 15px;
}
.weather-forecast-block-item-wrap .date {
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
}
.weather-forecast-block-item {
  background-color: #eeeeee;
  width: 100%;
  padding: 5px 10px;
}
.weather-forecast-block-item:nth-of-type(even) .weather-forecast-block-item  {
  background-color: #ffffff;
}
.weather-forecast-block-item .icon {
  background-repeat: no-repeat;
  width: 55px;
  height: 50px;
  margin: 0 auto;
  border-radius: 4px;
  background-size: 320px 180px;
  background-position: -115px -27px;
  background-image: url("../assets/Animation-Weather-Icons-Pack-Illustration-Vector.gif");
}
.weather-forecast-block-item .icon.clean {
  background-position: -176px -113px;
}
.weather-forecast-block-item .icon.few-clouds {
  background-position: -27px -68px;
}
.weather-forecast-block-item .icon.clouds {
  background-position: -106px -114px;
}
.weather-forecast-block-item .icon.scattered-clouds {
  background-position: -173px -69px;
}
.weather-forecast-block-item .icon.broken-clouds {
  background-position: -28px -21px;
}
.weather-forecast-block-item .icon.shower-rain {
  background-position: -237px -20px;
}
.weather-forecast-block-item .icon.rain {
  background-position: -171px -23px;
}
.weather-forecast-block-item .icon.thunderstorm {
  background-position: -238px -71px;
}
.weather-forecast-block-item .icon.snow {
  background-position: -104px -22px;
}
.weather-forecast-block-item .icon.mist {
  background-position: -106px -114px;
}

.weather-forecast-block-item img {
  width: 50px;
  height: 50px;
}
.weather-forecast-block-item p {
  font-size: 10px;
}
.weather-forecast-block-item .temp {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.weather-forecast-block-item .temp .temp-col {
  width: 50%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.current-weather {
  display: flex;
  flex-direction: column;
  width: 250px;
  justify-content: flex-start;
  align-items: center;
}
.current-weather img {
  width: 60px;
}
.current-weather .temp {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.current-weather p {
  font-size: 16px;
  margin: 10px 0;
}
.current-weather .sun-options {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.current-weather .sun-options p {
  font-size: 10px;
  margin: 0;
}

.weather-container .weather-row {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 2px 16.56px 1.44px rgba(0, 0, 0, 0.18);
}

.weather-container .weather-row .heading-elements {
  display: flex;
  flex-direction: column;
}
.weather-container .weather-row .heading-elements-item {
  background-image: -moz-linear-gradient( 90deg, rgb(62,149,230) 0%, rgb(30,236,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(62,149,230) 0%, rgb(30,236,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(62,149,230) 0%, rgb(30,236,255) 100%);
  margin-bottom: 15px;
  padding: 10px;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
.weather-container .weather-row .heading-elements-item.short {
  height: 65px;
}
.weather-container .weather-row .heading-elements-item .title {
  font-size: 16px;
  font-weight: bold;
}
.weather-container .weather-row .heading-elements-item img {
  height: 50%;
  width: auto;
}

.weather-weekly-forecast-block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
}

.weather-weekly-forecast-block .weather-forecast-block-item-wrap {
  display: flex;
  flex-direction: column;
  width: 10%;
  color: #1f384d;
}
.weather-inner-item {
  /*box-shadow: 0px 2px 16.56px 1.44px rgba(0, 0, 0, 0.18);*/
  border: 1px solid #ebebeb;
  margin-bottom: 15px;
  height: 110px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.weather-inner-item .tempCell {
  font-weight: 500;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.weather-inner-item .tempCell:first-of-type {
  margin-bottom: 10px;
}
.weather-inner-item .tempCell p {
  font-size: 12px;
  text-transform: uppercase;
  text-align: left;
  font-weight: 600;
}
.weather-inner-item .tempCell strong {
  font-size: 18px;
  text-align: right;
}
.weather-inner-item .weather-description {
  font-size: 12px;
  font-weight: bold;
}
.weather-inner-item .image {
  height: 100%;
  padding: 10px 15px;
}
.weather-inner-item .image img {
  max-width: 50%;
  max-height: 100%;
}

/*Icons*/

.weather-icon {
  width: 100%;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.weather-icon.mostly-cloudy {
  background-image: url(../assets/images/material-icon-set/mostly-cloudy.png);
}
.weather-icon.partly-cloudy {
  background-image: url(../assets/images/material-icon-set/partly-cloudy.png);
}